body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#background {
    width: 100%;
    height: 100%;
    background-image: url('./GanyuMay.png');
    background-size: cover;
    background-position: center;
}

/* #mouse {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 0;
} */

#onday {
    width: 35px;
    height: 35px;
    background-color: rgba(167, 240, 255, .5);
    transition: background-color 0.3s ease;
    position: absolute;
}

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}